body {
  font-size: 18px;  /* Устанавливает размер шрифта */
  color: #333;   /* Устанавливает цвет текста (темно-серый) */
  font-family: sans-serif;
  line-height: 1.5;
}

h1 {
  margin-top: 50px;      /* Внешний отступ сверху */
  margin-bottom: 10px;   /* Внешний отступ снизу */
  font-size: 60px;       /* Размер текста */
  text-align: center;    /* Выравнивание текста */
}

h2 {
  margin-top: 0;      /* Внешний отступ сверху */
  padding-bottom: 30px;   /* Внутренний отступ снизу */
  font-size: 25px;       /* Размер текста */
  text-align: center;    /* Выравнивание текста */
}

/* Стили для секций */
section {
  margin: 50px 0; /* 50px сверху/снизу, 0 слева/справа */
  padding: 0 50px; /* 0 сверху/снизу, 50px слева/справа */
}

/* Стили для заголовков внутри секций */
section h2 { /* Или другие теги заголовков, например, `h1`, `h2` */
  padding: 0;
  text-align: left;
  border: none; /* Граница отсутствует */
}

/* Стили для элементов списка */
section li {
  margin-bottom: 10px; /* Внешний отступ снизу */
}


